# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg-info/

# PyInstaller
*.exe

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
thumbs.db
desktop.ini
.DS_Store

# App data
*.log
